<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
<!--       <class name="SeleniumTestDemo01.WorkingWithListOfElementsDemo"/>
      <class name="SeleniumTestDemo01.ElementDisplayedDemo"/>
      <class name="SeleniumTestDemo01.GetTextDemo"/>
      <class name="SeleniumTestDemo01.JUnitIntroduction"/>
      <class name="SeleniumTestDemo01.RadioButtonsAndCheckBoxesDemo"/>
      <class name="SeleniumTestDemo01.PageObjectModel"/>
      <class name="SeleniumTestDemo01.GetAttributeDemo"/>
      <class name="SeleniumTestDemo01.BasicElementActions"/>
      <class name="SeleniumTestDemo01.ExplicitWaitDemo"/>
      <class name="SeleniumTestDemo01.SeleniumTestJUnit"/>
      <class name="SeleniumTestDemo01.MultipleSelectDemo"/>
      <class name="SeleniumTestDemo01.ImplicitWaitDemo"/>
      <class name="SeleniumTestDemo01.DropdownSelectDemo"/>
      <class name="SeleniumTestDemo01.ElementStateDemo"/>
      <class name="SeleniumTestDemo01.NavigatingBetweenPages"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
