<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="testnglisteners.CustomITestListener"></listener>
		<listener class-name="testnglisteners.AnnotationTransformerListener"></listener>
	</listeners>

  <test name="Listener Demo Test">
  		<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testnglisteners.TestClass1"/>
      <class name="testnglisteners.TestClass2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
