<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="basePath">./src/main/java/logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="File" fileName="${basePath}/MyStoreApp.log" filePattern="${basePath}/MyStoreApp-%d{yyyy-MMM-dd}.log">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level %c{3} -%msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile>
		<Console name="Console">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level %c{2} -%msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
        <Root level="trace">
			<AppenderRef ref="Console"/>
		</Root>
		<Logger name="log4jdemo.package1" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="testnglisteners" level="trace" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
	</Loggers>
</Configuration>